/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #7ED994;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0vw;      
    background: rgba(0, 0, 0, 0)
   }

#logo{
    width: 4vw;
}

header{
    background-color: #D4E5FA;
    width: 100%;
    height: 3vw;
}