

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #7ED994;
    margin: 0;
    padding: 0;
}


header{
    background-color: #D4E5FA;
    width: 100%;
    height: 3vw;
}


#logo{
    width: 4vw;
}

#mapa{
   background-color: red;
   margin-top: 2vh;
   margin-left: 2vh;
    width: 135vh;
    height: 45vw;
    border-radius:10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);

}

li{
    display: inline-block;

}

.autoridades img{
    background:white;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    margin-left: 150vh;
    margin-bottom:2vw ;
    text-align: center;
    position: relative;
    margin-right: 2vh;
    
}

.autoridades2 img{
    background:white;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    margin-left: 175vh;
    margin-bottom:2vw ;
    text-align: center;
    position: relative;
    margin-right: 2vh;
    
}

.autoridades img:hover{
   height: 15vh ;
   transform: scale(1.05);

}

.autoridades2 img:hover{
    height: 15vh ;
    transform: scale(1.05);

 }

 .xd{
    margin-top: -50em ;
    transition: 400ms;
 
 }
 .xd2{
     margin-top: -50em;
     transition: 400ms;
 
 }

 .autoridades{
   
 }
