body{
    margin: 0;
    background-color: #7ED994;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body::-webkit-scrollbar {
    width: 0vw;      
    background: rgba(0, 0, 0, 0)
   }

header{
    background-color: white;
    width: 100%;
    height: 15vh;
    box-shadow: 0vh 0.5vh 4px #8D8B8B;
}

#s1{
    background-color: green;
    margin-top: 15vh;
    width: 100%;
    height: 80vh;
    margin-bottom: 15vh;
}

.s2{

    width: 100%;
    height: 80vh;
    margin-bottom: 8vh;
}

#s3{
    width: 100%;
    height: 110vh;
    margin-bottom: 8vh;
}

footer{
    background-color: red;
    width: 100%;
    height: 45vh;
    margin-top: 25vh;
}

.s4{
    display: inline-block;
    background-color: white;
    margin-left: 8vh;
    margin-right: 8vh;
    width: 80vh;
    height: 80vh;
    border-radius: 2vh;
    box-shadow: 0.5vh 0.5vh 4px #8D8B8B;
}

.s5{
    position: absolute;
    display: inline-block;
    background-color: #8491D9;
    margin-left: 8vh;
    margin-right: 8vh;
    height: 50vh;
    width: 80vh;
    text-align: center;
    border-radius: 2vh;
    box-shadow: 0.5vh 0.5vh 4px #8D8B8B;
}

.s6{
    
    display: inline-block;
    background-color: #8491D9;
    margin-left: 8vh;
    margin-right: 8vh;
    height: 32vh;
    width: 80vh;
    text-align: center;
    border-radius: 2vh;
    box-shadow: 0.5vh 0.5vh 4px #8D8B8B;
}

#logo{
    width: 10vw;
}

img{
    height: 100%;
    width: 100%;
    border-radius: 2vh;
}