*{
    margin: 0;
    font-family: calibri; 
}

header{
    background-color: white;
    height: 10vh;
    text-align: right;
}

#logo{
    width: 8vw;
    margin-top: -11vh;
}

#s1{
    background-color: #e3e3e3;
    height: 5vh;
}

#banner{
    width: 100%;
    height: 45vh;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #4bbf68;
    height: 25vh;
}

.grid-item {
    background-color: #7ed994;
    text-align: center;
    font-size: 4vh;
    color:white;
}

.icon{
    width:5.5vw;
    margin-top: 1vh;
}

.s2{
    display: grid;
    grid-template-columns: auto auto;
    height: 80vh;

}

#ss3 {
    padding: 20px;
    width:50vw;

}

#s3 {
    margin-top: 3vh;
    width: 80%;
    border-radius: 3vh;
}

.s4{
    width: 20vw;
    height: 0.5vh;
    background-color: green;
    margin-top: 2vh;
}

p{
    font-size: 8vh;
    margin-top: 1vh;
    margin-bottom: 5vh;
}

footer{
    height:15vh;
    
}

.button{
    margin-top: 2vh;
    border-radius: 3vw;
    display: inline-block;
    width:12vw;
    height: 6vh;
    background-color: #8491d9;
    color:white;
    text-align: center;
    font-size: 2vw;
    margin-right: 1vw
}

.link{
    text-decoration: none;
    color: white
}